
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<ul class="sns">
	<li><a href="https://twitter.com"></a></li>
	<li><a href="https://instagram.com"></a></li>
	<li><a href="https://www.facebook.com"></a></li>
</ul>

<footer class="footer-wrapper">
	<p class="copyright">Copyright kaizer ONLINE SHOP All rights
		reserved.</p>
</footer>

<script src="${pageContext.request.contextPath}/js/log.js"></script>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="${pageContext.request.contextPath}/js/swiper.js"></script>

</body>
</html>